[submodule "lib/EaselJS"]
	path = lib/EaselJS
	url = git@github.com:CreateJS/EaselJS.git
[submodule "lib/COGS"]
	path = lib/COGS
	url = git@github.com:ETUI/COGS.git
[submodule "lib/BOE"]
	path = lib/BOE
	url = git@github.com:ETUI/BOE.git
[submodule "lib/requirejs"]
	path = lib/requirejs
	url = git@github.com:jrburke/requirejs.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = git@github.com:jquery/jquery.git
